*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color:black;
}

header h1{
    font-weight:bold;
    font-size: 36px;
    margin:0;
    display:inline;
    
}

header a{
    color:teal;
}

header nav{
    float:right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

section{
    padding: 60px;
}


footer{
    background-color:black;
    width:100%;
    padding: 40px 35px;
}
footer h2{
    display:inline;
    color: teal;
    font-size: 30px;
    margin: 0;
}

footer div{
    float:center;
    line-height: 1.5;
    text-align:center;
}

.hero{
    background-image: url(../assets/images/portfolio_hero.jpg);
    height: 300px;
    background-size:cover;
    background-position: center;
    position:relative;
    padding-left: 700px;
    padding-top: 250px;
    color: white;
}

.hero p{
    margin: 5px 0 15px 0;
}


.intro{
    text-align:left;
}
.intro p{
    text-align:right;
}

