*{

    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    display:inline-block;
}


header {
    padding: 20px 35px;
    color:black;
    background-color: black;
    display:flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index: 9999;
}
header h1{
    background-color: teal;
    text-shadow: 2px 2px 2px gray;
    text-align:center;

}

header nav{
    display: inline-block;
    margin: 7px 0;
}


header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
    text-decoration:none;
    color:teal;
    text-shadow: 0.5px 0.5px 0.5px gray;
}

header nav ul li a:hover{
    font-size:30px;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 0.5px black;
}


footer{
    padding: 20px;
    text-align: center;
    background: black;
    color:white;
}

footer h2{
    background-color: teal;
    color: black;
    margin-left: 15%;
    margin-right:15%;
    text-shadow: 2px 2px 2px gray;
}
.intro{
    display: flex;
    width:100%;
}

.intro caption{
    color:teal;
    flex-direction: column;
    justify-content: center;
}

.intro h2{
    text-align: center;
    font-size: 55px;
    text-shadow: 1px 1px 1px black;
    color: teal;
    margin: auto;
}

.intro p{
    text-align: center;
    padding:3%;
    font-size:25px;
    align-items: center;

}
.intro div{
    border-left: 4px solid teal;
}

.intro img{
    height:275px;
    float:left;
    margin-right:5%;
}

.project{
    display:flex;
}

.project caption{
    background-color:white;
    justify-content: center;
    border-radius:10px;
}
.project h2{
    text-align: left;
    font-size: 55px;
    text-shadow: 1px 1px 1px black;
    color:teal;
    margin:113.547px 10px 113.547px 0px;
}


.project div{
    text-align: center;
}
.project h3{
    margin:0;
}


.list{
    flex: 4;
    background-color: #fff;
    display: flex;
    border-left: 4px solid teal;
}


.run-buddy {
    flex: 0 0 400px;
}
.run-buddy a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.run-buddy:hover{
    color:teal;
    border:5px solid teal;
    border-radius:10px;
}

.run-buddy a:hover{
    color:teal;
    text-decoration: underline;
    font-size: 30px;
}

.run-buddy img {
    width: 100%;
    border-radius: 10px;
}
.run-buddy div img:hover{
    opacity: 0.8;

}

section{
    padding: 2%;
    background-color: darkgrey;
}

article{
    padding:2%
}

.hero{
    background-image: url(../assets/images/portfolio_hero.jpg);
    height: 500px;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.hero-cta{
    margin: 0 2% 0 60%;
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
}

.hero-cta h2{
    color:white;
    font-size: 60px;
    text-align: center;
    margin-top: 85px;
    text-shadow: 2px 2px 2px teal;
}

.hero-cta p{
    color:teal;
    flex-wrap: wrap;
}

.contact{
    display: flex;
    width:100%;
}
.contact div{
    width:100%;
    margin:auto;
    border-left: 4px solid teal;
    float:right;
    line-height: 2.0;
    text-align:center;
}

.contact caption{
    background-color: beige;
    flex-direction: column;
    justify-content: center;
}
.contact h2{
    text-align: center;
    font-size: 55px;
    text-shadow: 1px 1px 1px black;
    color:teal;
    margin:auto;
}
.contact ul{
    padding: 1%;
    width:100%;

}

.contact ul li{
    display:inline-block;
    justify-content: center;
    margin: 30px;
}
.contact a{
    font-size: 23px;
    margin-left: 5px;
    text-decoration:none;
    color:teal;
}

.contact a:hover{
    font-size:30px;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 0.5px black;
}

@media screen and (max-width: 1100px){
    header nav{
        width:75%;
        margin-top:5%;
    }
    header nav ul{
        float:right;
        align-items: center;
    }
    header nav ul li a {
        font-size: 23px;
    }
    .contact ul li{
        margin:auto;
    }
    .hero-cta h2{
        margin-top:5%;
    }
    footer h2{
        font-size:20px;
    }
    .intro img{
        height:350px;
    }
    section{
        padding: 30px 15px;
    }
}

@media screen and (max-width: 768px) {
    section{
      padding: 30px 15px;
    }
    caption{
        padding:30px;
    }
    .intro img{
        height:500px,
    }
  }
